*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.darkTheme {
  --color-header: #2f3b5b;
  --color-background: #1b202d;
  --color-panel: #333c58;

  --color-boton-default: #212840;
  --color-boton-default-hover: #464f61;

  --color-text: #efefef;

  --font-primary:"Segoe UI", Tahoma, Verdana, sans-serif;

}

body.lightTheme {
  --color-header: #e7f0f9;
  --color-background: #e7e8e9;
  --color-panel: #c0d3d9;

  --color-boton-default: #b4bdcf;
  --color-boton-default-hover: #bdbdbd;

  --color-text: #303030;
  --color-title-panel: rgba(240, 240, 240, 0.8);
  --color-title-control: rgba(193, 193, 193, 0.7);

  --font-primary: "Segoe UI", Tahoma, Verdana, sans-serif;
  
}
main{
  background-color: var(--color-background);
}
header{
  background-color: var(--color-header);
  width: 100%;
  height: 80px;
}
nav{
  background-color: var(--color-header);
  width: 100%;
  height: 50px;
display: flex;
justify-content: center;
}
button{
  background-color: var(--color-boton-default);
  color:var(--color-text);
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}
.topText{
  background-color:var(--color-boton-default);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: var(--color-text);
}
h2{
  color: var(--color-text);
  margin-top: 20px;
}
.contenedorImg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bottomText{
  background-color:var(--color-boton-default);
  display: flex;
  justify-content: center;
  align-items: center;
}
.panelDeControl{
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  z-index: 10;
  background-color:var(--color-panel);
  top: 0;
}
.controlIMG{
  padding: 16px;
color: var(--color-text);
}
.inputText{
  width: 100%;
  margin-top: 10px;
  border-radius: 4px;
}
.inputColor{
  background-color: transparent;
  border: none;
}
.selectorColor{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}
.filtros{
  margin-bottom: 10px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

/* panel de texto */
.controltext{
  padding: 16px;
color:var(--color-text);
}
.alineado{
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (min-width: 600px){
  .contenedorMeme{
    width: 100%;
    max-width: 610px;
    height: 910px;
    display: flex;
 flex-direction: column;
 align-content: center;
 margin-left: 600px;
  }
  .contenedorImg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-background);
    height: 570px;
  }
}
img{
  height: 100%;
}
.btnThemesDark{
display: flex;
}
.btnThamesLight{
display: none;
}

@media (min-width: 1300px) {
  .panelDeControl {
    display: block;
    position: fixed;
    right: 0;
    width: 260px;
  }
  #btnCerrarPanel {
    display: none;
  }
}